.Awrad-section-medals-bg-container {
  display: flex;
  width: 80%;
  gap: 20px;
}

@media (max-width: 768px) {
  .Awrad-section-medals-bg-container {
    flex-direction: column;
  }
}

.Awrad-section-medals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 30%;
}

@media (min-width: 468px) and (max-width: 768px) {
  .Awrad-section-medals-container {
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .Awrad-section-medals-container {
    width: 100%;
  }
}

.medal-img {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.Awards-caption {
  width: 80%;
}

@media (min-width: 768px) {
  .Awards-caption {
    width: 60%;
  }
}
